<!DOCTYPE html>

<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <link rel="icon" href="./img/weather.png">
     <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/profile.jpg" alt="">
        <h3>My name is Shivam Yadav. I am a B.Tech Student.</h2>
        <p>It uses data from mapbox.com and weatherstack.com</p>
        </div>
        {{>footer}}
    </body>
</html>