<!DOCTYPE html>

<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <link rel="icon" href="./img/weather.png">
     <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h3 id="projectInfo">This Project is contributed to <a href="https://github.com/pratik-choudhari/AlgoCode">pratik-choudhari/AlgoCode</a></h2>
        <p>It uses data from mapbox.com and weatherstack.com</p>
        </div>
        {{>footer}}
    </body>
</html>