<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Enter city name">
            <button>Search</button>
        </form>
    <div class="output">
        <div>
           <img id="wether-image" src="" alt="" srcset="">
        </div>
        <hr>
        <div>
           <p id="message-1"></p>
           <p id="message-2"></p>
        </div>
    </div>
    </div>
    {{>footer}}
    
    <script src="/js/app.js"></script>
</body>
</html>