<!DOCTYPE html>
<html>
    <head>
        <title>Random Quote Generator</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1>Display Random Quote</h1>
        <div class="quote-block">
            <div class="quote-display">
            {{quote}}
            <div class="author">{{author}}
            </div>
        </div>
        </div>
        <button class="new-quote-button" onclick="location.reload()">Try Another!</button>
    </body>
</html>